<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <h2>
          Captura De Seriales Por Ubicación
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class=" col-lg-2">
            <label for=""> Ubicacion:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
              value="<%= ubicacion %>" readonly>

          </div>
          <div class=" col-lg-3 d-none d-sm-block">
            <label for=""> Captura No:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
              value="<%= captura_grupo %>" readonly>

          </div>
          <div class=" col-lg-7 d-none d-sm-block">
            <label for=""> Nombre de empleado:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
              value="<%= nombreContador %>" readonly>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">


            <input type="text" class="form-control" name="gafete" id="gafete" aria-describedby="helpId" placeholder=""
              value="<%= gafete%>" hidden>
            <input type="text" class="form-control" name="nombreContador" id="nombreContador" aria-describedby="helpId"
              placeholder="" value="<%= nombreContador%>" hidden>
            <input type="text" class="form-control" name="ubicacion" id="ubicacion" aria-describedby="helpId"
              placeholder="" value="<%= ubicacion%>" hidden>
            <input type="text" class="form-control" name="captura_grupo" id="captura_grupo" aria-describedby="helpId"
              placeholder="" value="<%= captura_grupo%>" hidden>

            <label>
              <label>Serial:
                <span class="badge badge-warning " id="serialWarning" hidden>
                  <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                  </span>
                  <span id="serialWarning2" style="font-size: 15px ; color:black" hidden>
                    Incorrecto
                  </span>
                </span>
              </label>
            </label>

            <div class="input-group  col-lg-12">

              <div class="input-group-prepend ">
                <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                  id="basic-addon1"><span class="fas fa-barcode"></span></span>
              </div>
              <input oninput="this.value = this.value.toUpperCase()" type="text" name="serial" id="serial"
                class="form-control" placeholder="Serial" aria-describedby="helpId" required>

            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-2 mt-3">

        <div class="card">
          <div class="card-header bg-secondary text-white text-center font-weight-bold"> Terminar Captura</div>
          <div class="card-body text-center">

            <button type="button" name="modalCaptura" id="modalCaptura" class="btn btn-primary btn-lg  " data-toggle="modal"
              data-target="#exampleModal"><span class="fas fa-clipboard-check" style="font-size: 50px;"></span></button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content  ">
              <div class="modal-header">
                <h4 class="modal-title ">Captura No: <span
                    class="badge border-bottom-primary"><%= captura_grupo%></span> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">

                <input type="text" class="form-control" name="captura_actual" id="captura_actual"
                  aria-describedby="helpId" placeholder="" value="" hidden>

                <label>
                  <label>Seriales Contados:
                    <span class="badge badge-warning " id="contadorWarning" hidden>
                      <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                      </span>
                      <span id="contadorWarning2" style="font-size: 15px ; color:black" hidden>
                        Cantidad Incorrecta
                      </span>
                    </span>
                  </label>
                </label>

                <div class="row">

                  <div class="col-lg-4 text-center">
                    <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"><span
                        class="fas fa-minus-circle text-danger" style="font-size: 65px"></span></div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="">

                      <input type="number" class="form-control" name="contadorSeriales" id="contadorSeriales" value="0">
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"><span
                        class="fas fa-plus-circle text-success" style="font-size: 65px"></span></div>
                  </div>

                </div>
                <br>
                <h4 class="modal-title text-danger">Apartar Seriales Obsoletos <span
                  class="badge border-bottom-primary" id="SpanApartar"></span> </h4>
              </div>
              

              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-block" id="btnCapturar">Capturar</button>
              </div>

              
            </div>
          </div>
        </div>
        <!--/ Modal -->

      </div>
      <div class="col-lg-4 d-none d-sm-block">
        <div class="col-lg-12">
          <div>
            <div class="card">
              <div class="card-header bg-secondary text-white text-center"><strong id="date"></strong></div>
              <div class="card-body">
                <img src="/img/warehouse.jpg" alt="Warehouse Image" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Collapse -->
    <div class="col-lg-12 mt-2 ">

      <div class="card shadow mb-4 shadow-lg">
        <div class="card-header py-3 bg-secondary">
          <h3 class="text-white">Capturado</h3>
        </div>
        <div class="accordion" id="accordionExample">

          <div class="card-body" id="cardCapturado">





          </div>

        </div>
      </div>
    </div>
    <!-- /Collapse -->

    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->

  <% include ./static/footer.ejs%>

  <script>



    var timer2 = null;
    btnCapturar.addEventListener("click", function (e) {

      clearTimeout(timer2);
      timer2 = setTimeout(contadorSerialesFunction, 100)

    });


    function contadorSerialesFunction() {
      var cantidad = $('#contadorSeriales').val();

      if (cantidad == (items.length+itemsObsoletos.length)) {

        $('#contadorWarning').prop('hidden', true)
        $('#contadorWarning2').prop('hidden', true)

        soundOk()

        $.post("/conteo_guardar", {
          'seriales[]': items,
          'gafete': '<%= gafete%>',
          'nombreContador': '<%= nombreContador%>',
          'ubicacion': '<%= ubicacion%>',
          'captura_grupo': '<%= captura_grupo%>',
          'serialesObsoletos[]': itemsObsoletos,

         });
 


         //window.location.href = '/login_conteo/ubicacion';



    } else {

      $('#contadorWarning').removeAttr('hidden')
      $('#contadorWarning2').removeAttr('hidden')
      soundWrong()

    }

    }



  </script>