<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <h2>
          Captura De Seriales Con Cantidad
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class=" col-lg-2 d-none d-sm-block">
            <label for=""> Ubicacion:</label>
            <input type="text" class="form-control" name="" id="ub" aria-describedby="helpId" placeholder=""
              value="<%= ubicacion %>" readonly>
              <input type="text" class="form-control" name="" id="rack" aria-describedby="helpId" placeholder=""
              value="<%= rack %>" hidden>
              <input type="text" class="form-control" name="" id="storage_location" aria-describedby="helpId" placeholder=""
              value="<%= storage_location %>" hidden>

          </div>
          <div class=" col-lg-3 d-none d-sm-block">
            <label for=""> Captura No:</label>
            <input type="text" class="form-control" name="" id="ca" aria-describedby="helpId" placeholder=""
              value="<%= captura_grupo %>" readonly>

          </div>
          <div class=" col-lg-7 d-none d-sm-block">
            <label for=""> Nombre de empleado:</label>
            <input type="text" class="form-control" name="" id="no" aria-describedby="helpId" placeholder=""
              value="<%= nombreContador %>" readonly>

          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-12">

            <label>
              <label>Serial:
                <span class="badge badge-warning " id="serialWarning" hidden>
                  <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                  </span>
                  <span id="serialWarning2" style="font-size: 15px ; color:black" hidden>
                    Incorrecto
                  </span>
                </span>
              </label>
            </label>

            <div class="input-group  col-lg-12 mb-2">

              <div class="input-group-prepend ">
                <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                  id="basic-addon1"><span class="fas fa-barcode"></span></span>
              </div>
              <input oninput="this.value = this.value.toUpperCase()" type="text" name="serial" id="serial"
                class="form-control" placeholder="Serial" aria-describedby="helpId" required autocomplete="off">

            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

            <label>
              <label>Numero Parte:
                <span class="badge badge-warning " id="parteWarning" hidden>
                  <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                  </span>
                  <span id="parteWarning2" style="font-size: 15px ; color:black" hidden>
                    Incorrecto
                  </span>
                </span>
              </label>
            </label>

            <div class="input-group  col-lg-12 mb-2">

              <div class="input-group-prepend ">
                <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                  id="basic-addon1"><span class="fas fa-barcode"></span></span>
              </div>
              <input oninput="this.value = this.value.toUpperCase()" type="text" name="parte" id="parte"
                class="form-control" placeholder="Numero Parte" aria-describedby="helpId" required autocomplete="off">

            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

            <label>
              <label>Cantidad:
                <span class="badge badge-warning " id="cantidadWarning" hidden>
                  <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                  </span>
                  <span id="cantidadWarning2" style="font-size: 15px ; color:black" hidden>
                    Incorrecto
                  </span>
                </span>
              </label>
            </label>

            <div class="input-group  col-lg-12 mb-2">

              <div class="input-group-prepend ">
                <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                  id="basic-addon1"><span class="fas fa-barcode"></span></span>
              </div>
              <input oninput="this.value = this.value.toUpperCase()" type="text" name="cantidad" id="cantidad"
                class="form-control" placeholder="Cantidad" aria-describedby="helpId" required autocomplete="off" min="1">

            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

            <label>
              <label>Cantidad:
                <span class="badge badge-warning " id="cantidadWarningv" hidden>
                  <span class="badge badge-danger fas fa-exclamation-triangle" style="font-size: 10px;">
                  </span>
                  <span id="cantidadWarningv2" style="font-size: 15px ; color:black" hidden>
                    Incorrecto
                  </span>
                </span>
              </label>
            </label>

            <div class="input-group  col-lg-12 mb-2">

              <div class="input-group-prepend ">
                <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                  id="basic-addon1"><span class="fas fa-barcode"></span></span>
              </div>
              <input oninput="this.value = this.value.toUpperCase()" type="text" name="cantidad2" id="cantidad2"
                class="form-control" placeholder="Cantidad" aria-describedby="helpId" required autocomplete="off" min="1">

            </div>

          </div>
        </div>

        <div class="input-group  col-lg-12 mb-2" hidden>

          <div class="input-group-prepend ">
            <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
              id="basic-addon1"><span class="fas fa-barcode"></span></span>
          </div>
          <input oninput="this.value = this.value.toUpperCase()" type="number" name="obsoleto" id="obsoleto"
            class="form-control" placeholder="" aria-describedby="helpId" required autocomplete="off" min="1">

        </div>


      </div>
      <div class="col-lg-2">
        <div class="col lg-12">
          <div class="card">
            <div class="card-header bg-secondary text-white text-center font-weight-bold"> Cambiar Ubicacion</div>
            <div class="card-body text-center">

              <button type="button" name="cambiarUbicacion" id="cambiarUbicacion" class="btn btn-primary btn-lg" onClick="history.go(-3)"><span class="fas fa-arrow-left"
                  style="font-size: 50px;"></span></button>
            </div>
          </div>
        </div>
        </div>
        <!-- Modal -->
     
        <div class="col-lg-4 d-none d-sm-block">
          <div class="col-lg-12">
            <div>
              <div class="card">
                <div class="card-header bg-secondary text-white text-center"><strong id="date"></strong></div>
                <div class="card-body">
                  <img src="/img/warehouse.jpg" alt="Warehouse Image" class="img-fluid">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Collapse -->
      <div class="col-lg-12 mt-2 ">

        <div class="card shadow mb-4 shadow-lg ">
          <div class="accordion" id="accordionExample">
            <div class="card-body" id="cardCapturado">
              <!-- Seriales Capturados agregados por Jquery -->
            </div>
            <div class="card-header bg-secondary rounded-bottom">
              <div class="text-white">Captura Actual</></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Collapse -->

      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->


    <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header card-mov">
                <img src="../public/img/TristoneLogo2.png" alt="" srcset="" class="card-mov">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-times text-danger" style="font-size: 2rem;"> </i>
                    </div>
                    <div class="col">
                        <h5>Apartar Serial Obsoleto</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCerrar_error" type="button" class="btn btn-secondary btnCerrar"
                    data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header card-mov">
            <img src="../public/img/TristoneLogo2.png" alt="" srcset="" class="card-mov">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-check text-success" style="font-size: 2rem;"> </i>
                </div>
                <div class="col">
                    <h5>Serial Guardado</h5>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnCerrar_success" type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
</div>





    <% include ./static/footer.ejs%>
    <script src="/js/functions/conteo_manual.js"></script>

    <!-- <script>



      function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };

      $(document).ready(function () {
        $(document).on("keydown", disableF5);
        $('#serial').focus()
        soundOk()
      });

      serialesCapturados = <%- JSON.stringify(serialesCapturados) %>;
      storage_units = <%- JSON.stringify(storage_units) %>;
      let items = [];
      let itemsObsoletos = [];

      let currentDate = new Date(),
        day = currentDate.getDate(),
        month = currentDate.getMonth() + 1,
        year = currentDate.getFullYear(),
        date = day + "/" + month + "/" + year;

      document.getElementById("date").innerHTML = date;


      /////////////////////////////// Modal ////////////////////////////////////////////////
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })

      function increaseValue() {
        let value = parseInt(document.getElementById('contadorSeriales').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('contadorSeriales').value = value;
      }

      function decreaseValue() {
        let value = parseInt(document.getElementById('contadorSeriales').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('contadorSeriales').value = value;
      }

      modalCaptura.addEventListener("click", function (e) {

        if (itemsObsoletos.length != 0) {

          $('#serialesObsoletosRow').removeAttr('hidden')
          for (let i = 0; i < itemsObsoletos.length; i++) {
            $("#spanObsoletos").append(`<h6 style="display:inline; "><span class="badge badge-danger"> ${itemsObsoletos[i]} </span></h6>`);
            $("#spanObsoletos").append(` `);
          }
        }
      });
      //Si el modal se cierra borra todos los append de la funcion de arriba
      $('#exampleModal').on('hidden.bs.modal', function () {
        $("#spanObsoletos").empty()
      })

      /////////////////////////////// Modal ////////////////////////////////////////////////


      $('#serial').keypress(function (e) {

        if (e.which == 13) {
          e.preventDefault()
          serialFunction()
          $('#serial').val("")
        }
      })



      function guardarNumeros(tipo) {

        let color
        serialVal = document.getElementById('serial').value;
        if (tipo == 'activo') {
          items.push(serialVal.substr(1));
          color = 'success'
          $('#seriales').val(`${items}`)
        } else {
          itemsObsoletos.push(serialVal.substr(1));
          color = 'danger'
          $('#serialesObsoletos').val(`${itemsObsoletos}`)
        }

        $('#gafete').val(`${items}`)
        let addSpan = `<h6 style="display:inline; "><span class="badge badge-${color} fspan">${serialVal.substr(1)}</span></h6> `
        $('#cardCapturado').append(addSpan)


        return false; // stop submission
      }


      function serialFunction() {
        let serial = $('#serial').val();
        let encontrado = false;


        if (serial.charAt(0) == "S" && Number.isInteger(parseInt(serial.substr(1)))) {

          for (let i = 0; i < serialesCapturados.length; i++) {

            if (serial.substr(1) == serialesCapturados[i].serial) {

              encontrado = true;
              soundWrong()
              $('#serialWarning').removeAttr('hidden')
              $('#serialWarning2').text('Serial Duplicado')
              $('#serialWarning2').removeAttr('hidden')
              $('#serial').val('')
              break;
            }
          }
          for (let y = 0; y < items.length; y++) {
            if (serial.substr(1) == items[y]) {

              encontrado = true;
              soundWrong()
              $('#serialWarning').removeAttr('hidden')
              $('#serialWarning2').text('Serial Duplicado')
              $('#serialWarning2').removeAttr('hidden')
              $('#serial').val('')
              break;
            }

          }
          for (let x = 0; x < itemsObsoletos.length; x++) {
            if (serial.substr(1) == itemsObsoletos[x]) {

              encontrado = true;
              soundWrong()
              $('#serialWarning').removeAttr('hidden')
              $('#serialWarning2').text('Serial Duplicado')
              $('#serialWarning2').removeAttr('hidden')
              $('#serial').val('')
              break;
            }

          }
          if (encontrado == false) {
            let SerialExistente = false
            for (let y = 0; y < storage_units.length; y++) {

              if (serial.substr(1) == storage_units[y].storage_unit) {
                SerialExistente = true
                break
              }
            }


            if (SerialExistente == true) {
              guardarNumeros('activo')
            } else {
              guardarNumeros('obsoleto')
            }

            soundOk()
            //$('form#submitSerial').submit();
            $('#serialWarning').prop('hidden', true)
            $('#serialWarning2').prop('hidden', true)
          }

        } else {
          soundWrong()
          $('#serialWarning').removeAttr('hidden')
          $('#serialWarning2').text('Incorrecto')
          $('#serialWarning2').removeAttr('hidden')
          $('#serial').val('')
        }

      }


      btnCapturar.addEventListener("click", function (e) {

        let cantidad = $('#contadorSeriales').val();

        if (cantidad == (items.length + itemsObsoletos.length)) {

          $('#contadorWarning').prop('hidden', true)
          $('#contadorWarning2').prop('hidden', true)
          soundOk()
        } else {
          e.preventDefault()
          $('#contadorWarning').removeAttr('hidden')
          $('#contadorWarning2').removeAttr('hidden')
          soundWrong()

        }
      });

    </script> -->

    