<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="refresh" content="10.50" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inventario Fisico</title>
  <!-- Imagen tab -->
  <link rel="icon" sizes="57x57" href="/img/icon.png">
  <!-- npm Css -->
  <link rel="stylesheet" type="text/css" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/animate.css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
  <!-- Custom fonts for this template-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link href="/resources/datatables/dataTables.bootstrap4.css" />
  <link href="/resources/datatables/dataTables.bootstrap4.css" />


  <!-- Graph ChartJs -->
  <script src="/chart.js/dist/Chart.min.js"></script>
  <script src="/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">



</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">



    <!-- End of Main Content -->
    <!-- Vector Maps -->



    <div class="jumbotron  bg-gradiant-dark">
      <div class="container">

        <h1 class="display-3 text-white text-center font-weight-bold"><span class="fas fa-box-open text-white"
            style="font-size: 60px;"></span>Avance Inventario</h1>

      </div>
    </div>


    <div class="container-fluid">

      <div class="row mt-n5 ml-5">

        <div class="col-lg-3 animated pulse slow  delay-1">
          <div class="card border-0 rounded-top">
          </div>
          <div class="card-body  shadow p-3 bg-gradiant-blue rounded-lg">
            <h2 class="text-white text-center display-4"> Tickets Capturados</h2>

            <div class="row">
              <div class="col-lg-2">
                <span class="fas fa-ticket-alt text-white mb-n5" style="font-size: 80px;"></span>
              </div>
              <div class="col-lg-9">
                <h2 class="text-white display-4"><%= TicketsCapturados[0].TCapturados%></h2>
                <div class="progress">
                    <%
                        let porcentaje = Math.round(TicketsCapturados[0].TCapturados  * 100 / TicketsTotales[0].TTotales) *100/100
                    %>

                  <div class="progress-bar bg-transperant-blue" role="progressbar" style="width: <%=porcentaje%>%"
                    aria-valuenow="<%= TicketsCapturados[0].TCapturados%>" aria-valuemin="0" aria-valuemax="<%= TicketsTotales[0].TTotales%>"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 animated pulse slow  delay-2">
          <div class="card border-0 rounded-top ">
          </div>
          <div class="card-body  shadow p-3 bg-gradiant-blue rounded">
            <h2 class="text-white text-center display-4"> Tickets Restantes</h2>

            <div class="row">
              <div class="col-lg-2">
                <span class="fas fa-ticket-alt text-white mb-n5" style="font-size: 80px;"></span>
              </div>
              <div class="col-lg-9">
                <h2 class="text-white display-4"><%= TicketsFaltantes%></h2>
                <div class="progress">
                    <%
                    let porcentaje2 = Math.round(TicketsFaltantes  * 100 / TicketsTotales[0].TTotales) *100/100
                    %>
                  <div class="progress-bar bg-transperant-blue" role="progressbar" style="width: <%= porcentaje2%>%;"
                    aria-valuenow="<%= TicketsFaltantes%>" aria-valuemin="0" aria-valuemax="<%= TicketsTotales[0].TTotales%>"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 animated pulse slow  delay-3">
          <div class="card border-0 rounded-top ">
          </div>
          <div class="card-body  shadow p-3 bg-gradiant-yellow rounded-lg">
            <h2 class="text-white text-center display-4"> Seriales Capturados</h2>

            <div class="row">
              <div class="col-lg-2">
                <span class="fas fa-barcode text-white mb-n5" style="font-size: 80px;"></span>
              </div>
              <div class="col-lg-9">
                <h2 class="text-white display-4"><%= SerialesCapturados[0].SCapturados%></h2>
                <div class="progress">
                    <%
                    let porcentaje3 = Math.round(SerialesCapturados[0].SCapturados  * 100 / SerialesTotales[0].STotales) *100/100
                    %>
                  <div class="progress-bar bg-transperant-yellow" role="progressbar" style="width: <%= porcentaje3%>%;"
                    aria-valuenow="<%= SerialesCapturados[0].SCapturados%>" aria-valuemin="0" aria-valuemax="<%=SerialesTotales[0].STotales%>"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 animated pulse slow  delay-4">
          <div class="card border-0 rounded-top">
          </div>
          <div class="card-body  shadow p-3 bg-gradiant-yellow rounded-lg">
            <h2 class="text-white text-center display-4"> Seriales Restantes</h2>

            <div class="row">
              <div class="col-lg-2">
                <span class="fas fa-barcode text-white mb-n5" style="font-size: 80px;"></span>
              </div>
              <div class="col-lg-9">
                <h2 class="text-white display-4"><%= SerialesFaltantes%></h2>
                <div class="progress">

                    <%
                    let porcentaje4 = Math.round(SerialesFaltantes  * 100 / SerialesTotales[0].STotales) *100/100
                    %>
                  <div class="progress-bar bg-transperant-yellow" role="progressbar" style="width: <%= porcentaje4%>%;"
                    aria-valuenow="<%= SerialesFaltantes%>" aria-valuemin="0" aria-valuemax="<%=SerialesTotales[0].STotales%>"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="row ml-5 mt-5">
        <div class="col-lg-6">
          <div class="card bg-transparent border-0 ">
            <card class="card-header bg-dark text-white text-center">
              <h2 class="display-4">Progreso General: <span class=" fa fa-ticket-alt text-primary"> </span> <span class=" fa fa-barcode text-warning"> </span></h2>
            </card>
            <div class="row">
              <div class="col-lg-6 animated pulse slow infinite delay-5">
                <canvas id="pie-chart" width="" height="500px"></canvas>
              </div>
              <div class="col-lg-6 animated pulse slow infinite delay-6">
                <canvas id="pie-chart2" width="" height="500px"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card bg-transparent border-0">
            <card class="card-header bg-dark text-white text-center">
              <h2 class="display-4">Talones Entregados: <span class=" fa fa-check-circle text-primary"> </span> <span class=" fa fa-times-circle text-danger "> </span></h2>
            </card>
            <div class="row">
              <div class="col-lg-12 animated pulse slow infinite delay-7 mt-5">
                <canvas id="bar-chart-horizontal" width="" height="" ></canvas>
              </div>
            </div>
            

          </div>
        </div>
      </div>



    </div>
  </div>


  <!-- <canvas id="pie-chart2" width="200px" height="150px" class="animated pulse slow infinite"></canvas> -->
  <!-- Vector map -->
  <!-- <script src="/resources/jvectormap/jvectormap-custom.js"></script> -->

  <script>
    new Chart(document.getElementById("pie-chart"), {
      type: 'pie',
      data: {

        datasets: [{
          label: "Avance",
          backgroundColor: ['#0059ff75', '#343a40'],
          borderColor: ['rgb(255, 255, 255)', 'rgb(255, 255, 255)',
          ],
          borderWidth: 0,
          data: [<%= TicketsCapturados[0].TCapturados%>, <%= TicketsFaltantes%>]
        }]
      },
      options: {
        cutoutPercentage: 75
      }
    });

    new Chart(document.getElementById("pie-chart2"), {
      type: 'pie',
      data: {

        datasets: [{
          label: "Avance",
          backgroundColor: ['#eafb005b', '#343a40'],
          borderColor: ['rgb(255, 255, 255)', 'rgb(255, 255, 255)',
          ],
          borderWidth: 0,
          data: [<%= SerialesCapturados[0].SCapturados%>, <%= SerialesFaltantes%>]
        }]
      },
      options: {
        cutoutPercentage: 75
      }
    });

    new Chart(document.getElementById("bar-chart-horizontal"), {
      type: 'bar',
      data: {
        labels: ["Entregados", "Pendientes"],
        datasets: [
          {
            label: "Talones Entregados",
            backgroundColor: [ 'rgba(54, 162, 235, 0.2)','rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgba(54, 162, 235, 1)','rgba(255, 99, 132, 1)'],
            borderWidth: 5,
            data: [<%=TalonesE[0].Entregados%>, <%=TalonesP[0].Pendientes%>]
          }
        ]
      },

      options: {
        cutoutPercentage: 75,
        legend: { display: false },
        title: { display: false },
        datalabels: { display: false },
        scaleShowLabels : false ,
        scales: {
          xAxes: [{
            gridLines: {display: false},
            ticks:  {display: false} 
          }],
          
          yAxes: [{
            gridLines: {display: false},
            ticks:  {display: false} 

          }]
        },
        plugins: {
          datalabels: {
            display: true,
            anchor: 'top',
            clamp: true,

            color:'white',
            font: {
              size: 40,
            }
          }
        }
      }

    });



  </script>
  <% include ./static/footer.ejs%>