<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row">




      <!-- form start -->

      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4">
              <h4>MESA CAPTURA </h4>
              <h6 class="align-baseline">(<%= nombre%>)</h6>
    
          </div>

              <form method="POST" class="col-lg-4" style="text-align: right">
                  <button formAction="/cancelar_block" type="submit" class="btn btn-warning  icoWhite fas fa-trash-alt"
                id="btnCancelar" >
                Cancelar Block</button>
              </form>
  

        </div>
        <form action="/guardar_captura" method="POST">
          <div class="row">

            <div class="col-lg-2">
              <div class="form-group">
                <input readonly type="text" class="form-control" id="gafete" name="gafete" value="<%= gafete%>"
                  name="gafete" hidden>
              </div>
            </div>
          </div>
          <div class="row">
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Ticket: </label> <label id="msgTicket"></label>
                <input type="number" class="form-control" id="ticket" name="ticket" required>
              </div>
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Numero Parte: </label> <label id="msgParte"></label>
                <input type="text" class="form-control" id="parte" name="parte"
                  onkeyup="this.value = this.value.toUpperCase();" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Cantidad: </label> <label id="msgCant"></label>
                <input type="number" step="0.01" class="form-control" id="cantidad" name="cantidad" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Cantidad: </label> <label id="msgCant2"></label>
                <input type="number" step="0.01" class="form-control" id="cantidad2" name="cantidad2" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Ubicacion: </label> <label id="msgubicacion"></label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion"
                  onkeyup="this.value = this.value.toUpperCase();" required>
              </div>
            </dic>
          </div>


          
          <div class="row">
            <div class="col-lg-2">
            <div class="card ">
              <div class="card-header bg-secondary text-white">
                  Unidad
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"id="unidad">.</li>
                  </ul>
            </div>
          </div>

            <div class="col-lg-4">
                <div class="card ">
                  <div class="card-header bg-secondary text-white">
                      Descripcion
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"id="descripcion">.</li>
                      </ul>
                </div>
              </div>
    
            <div class="col-lg-4">
                <div class="card ">
                  <div class="card-header bg-secondary text-white">
                      Asignado A
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"id="asignado">.</li>
                      </ul>
                </div>
              </div>
    
     
            <div class="col-lg-2">
            <div class="card ">
              <div class="card-header bg-secondary text-white">
                  Telefono
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"id="telefono">.</li>
                  </ul>
            </div>
          </div>

  

        </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="btnguardar" hidden>Guardar</button>
          </div>
        </form>

     <br>
     <div style="text-align: center">
     
      </div>
    </div>


      

      <div class="col-lg-2">
        <div class="card">

          <div class="card-body">
            <table class="table table-sm ">
              <thead>
                <tr>
                  <th style="border-top: none">
                    Prefijo
                  </th>
                  <th style="border-top: none">
                    Completado
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">C</span></td>
                  <td> Cancelado</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">5V</span></td>
                  <td style="border-top: none"> 5V000</td>
                </tr>
                <tr>
                  <td style="border-top: none"> <span class="badge badge-secondary fspan">5E</span></td>
                  <td style="border-top: none"> 5E000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">50</span></td>
                  <td style="border-top: none"> 50000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">10</span></td>
                  <td style="border-top: none"> 10000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">1M </span></td>
                  <td style="border-top: none"> 1M0000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">7 </span></td>
                  <td style="border-top: none"> 70000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>

    
    

    <div class="row">
      <!-- Collapse -->
      <div class="col-lg-12">

        <div class="card">
          <div class="card-header bg-secondary text-white">
            Ubicaciones
          </div>
          <div class="card-body">
            <% for(let x = 0;x < ubicacion.length;x++){ %>
            <span class="badge badge-secondary fspan"><%= ubicacion[x].ubicacion%></span>
            <%}%>
           
                </div>
              </div>
              <br>
        <div class="card shadow mb-4 shadow-lg">
          <div class="card-header py-3 bg-secondary text-white">
            <strong>Capturas</strong>
          </div>
          <div class="accordion" id="accordionExample">
            <table class="table table-hover table-sm" id="myTable">
              <thead>
                  <th> <span class="text-primary"></span> Eliminar</th>
                <th> <span class="text-primary"></span> Ticket</th>
                <th><span class="text-primary"></span> Numero Parte</th>
                <th><span class="text-primary"></span> Cantidad</th>
                <th><span class="text-primary"></span> Ubicacion</th>
              </thead>
              <tbody>
                <% for(let i = 0;i < misTickets.length;i++){ %>
 
            <tr>
              <td class="text-center " width='5%'>
                <form method="POST">
                  <button name="equipoid" type="submit" formaction="/delete_ticket" class="btn btn-danger text-center"
                    data-toggle="tooltip" data-placement="left" onclick="clicked(event)" ><span class="icoWhite fas fa-trash-alt"></span></button>
                    <input type="text" name="idTicket" value="<%= misTickets[i].serial%>" hidden>
                    <input type="text" name="idGafete" value="<%= gafete%>" hidden>

                </form>

              </td>
              <td width='10%'><%= misTickets[i].serial%></td>
              <td width='10%'><%= misTickets[i].material%></td>
              <td width='10%'><%= misTickets[i].cantidad%></td>
              <td width='10%'><%= misTickets[i].ubicacion%></td>
              <%  } %>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /Collapse -->
    </div>


  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<% include ./static/footer.ejs%>

<script>
function clicked(e)
{
    if(!confirm('Seguro que deseas eliminar?'))e.preventDefault();
}

  /*
  if (window.history.replaceState) {
          window.history.replaceState(null, null, '/');
  
      }
  */
  $(document).ready(function () {

    document.getElementById("ticket").focus();
  });
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  parte.addEventListener("keyup", function (e) {

    material = <%- JSON.stringify(materiales) %>;
    var msg = document.getElementById("msgParte");
    var id = $('#parte').val();

    if (id.length == 2 && (($('#parte').val()).startsWith("5V") || ($('#parte').val()).startsWith("5E") || ($('#parte').val()).startsWith("50") || ($('#parte').val()).startsWith("10"))) {

      $('#parte').val($('#parte').val() + "000")

    }

    if (id.length == 1 && (($('#parte').val()).startsWith("7"))) {

      $('#parte').val($('#parte').val() + "0000")

    }

    if (id.length == 2 && (($('#parte').val()).startsWith("1M"))) {

      $('#parte').val($('#parte').val() + "0000")

    }

    if (id.length == 1 && (($('#parte').val()).startsWith("C"))) {

      $('#parte').val("CANCELADO")
      $('#cantidad').val(0)
      $('#cantidad2').val(0)
      $('#ubicacion').val("N/A")
      $('#cantidad').prop("readonly", true);
      $('#cantidad2').prop("readonly", true);
      $('#ubicacion').prop("readonly", true);

    }



    if (id.length > 11) {

      for (var i = 0; i < material.length; i++) {
        if (id == material[i].material) {

          $('#cantidad').focus();
          $('#btnguardar').prop("disabled", false);
          msg.innerHTML = ' Correcto';
          msg.classList.add('text-success');
          msg.classList.remove('text-danger');
          $('#descripcion').text(material[i].material_description);
          $('#unidad').text(material[i].unidad_medida)

          break;

        } else {

          $('#btnguardar').prop("disabled", true);
          msg.innerHTML = ' No Encontrado';
          msg.classList.remove('text-success');
          msg.classList.add('text-danger');
          $('#descripcion').text("");
        }
      }

    } else {
      if ($('#parte').val() == "CANCELADO") {
        $('#btnguardar').prop("disabled", false);
      } else {
        $('#btnguardar').prop("disabled", true);
      }
    }

  });
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  ticket.addEventListener("keyup", function (e) {

    ticket = <%- JSON.stringify(tickets) %>;
    maxmin = <%- JSON.stringify(maxmin) %>;
    var msg = document.getElementById("msgTicket");
    var id = parseInt($('#ticket').val(), 10);
    minimo = parseInt(maxmin[0].minimo, 10)
    maximo = parseInt(maxmin[0].maximo, 10)
    talones = <%- JSON.stringify(talones) %>;


    if (id >= minimo && id <= maximo) {

      if (ticket.length == 0) {

        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = ' Correcto';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');

      }

      for (var i = 0; i < ticket.length; i++) {

        if (id == ticket[i].serial) {

          $('#btnguardar').prop("disabled", true);
          msg.innerHTML = ' Duplicado';
          msg.classList.remove('text-success');
          msg.classList.add('text-danger');
          $('#asignado').text('');
          $('#telefono').text('');
          break;

        } else {

          $('#btnguardar').prop("disabled", false);
          msg.innerHTML = ' Correcto';
          msg.classList.add('text-success');
          msg.classList.remove('text-danger');

          for (var y = 0; y < talones.length; y++) {

            if (id >= talones[y].ticket_inicial || id <= talones[y].ticket_final) {
              $('#asignado').text(talones[y].nombre_empleado);
              $('#telefono').text(talones[y].telefono);
              break
            }

          }


        }
      }
    } else {

      $('#btnguardar').prop("disabled", true);
      msg.innerHTML = ' Incorrecto';
      msg.classList.remove('text-success');
      msg.classList.add('text-danger');
      $('#asignado').text('');
      $('#telefono').text('');

    }


  });



  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  cantidad.addEventListener("keyup", function (e) {

    var msg = document.getElementById("msgCant");
    var msg2 = document.getElementById("msgCant2");
    var cantidad = $('#cantidad').val();
    var cantidad2 = $('#cantidad2').val();


    if (cantidad2 != "") {

      if (cantidad == cantidad2) {

        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = ' Correcto';
        msg2.innerHTML = '';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');
        msg2.classList.add('text-success');
        msg2.classList.remove('text-danger');

      } else {

        $('#btnguardar').prop("disabled", true);
        msg.innerHTML = ' Incorrecto';
        msg.classList.remove('text-success');
        msg.classList.add('text-danger');


      }
    }

  });

  cantidad2.addEventListener("keyup", function (e) {

    var msg = document.getElementById("msgCant2");
    var msg2 = document.getElementById("msgCant");
    var cantidad = $('#cantidad').val();
    var cantidad2 = $('#cantidad2').val();


    if (cantidad != "") {

      if (cantidad == cantidad2) {

        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = ' Correcto';
        msg2.innerHTML = '';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');
        msg2.classList.add('text-success');
        msg2.classList.remove('text-danger');

      } else {

        $('#btnguardar').prop("disabled", true);
        msg.innerHTML = ' Incorrecto';
        msg.classList.remove('text-success');
        msg.classList.add('text-danger');


      }
    }

  });


  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  ubicacion.addEventListener("keyup", function (e) {

    ubicaciones = <%- JSON.stringify(ubicacion) %>;

    var msg = document.getElementById("msgubicacion");
    var id = $('#ubicacion').val();


    for (var i = 0; i < ubicaciones.length; i++) {

      if (id == ubicaciones[i].ubicacion) {

        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = ' Correcto';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');
        break;

      } else {

        $('#btnguardar').prop("disabled", true);
        msg.innerHTML = ' Incorrecta';
        msg.classList.remove('text-success');
        msg.classList.add('text-danger');

      }
    }

  });

</script>