<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row ">




      <!-- form start -->

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <label><h4>TALONES <span> </span></h4></label>
          </div>


        </div>
        <form action="/guardar_talon" method="POST" autocomplete="off" id="form">
          <div class="row text-center">

            <div class="col-lg-2">
              <div class="form-group">
                <input readonly type="text" class="form-control" id="gafete" name="gafete" value="<%= gafete%>"
                  name="gafete" hidden>
              </div>
            </div>
          </div>
          <div class="row">
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Ticket Inicial: </label> <label id="msgTicketI"></label>
                <input type="number" class="form-control" id="ticketInicial" name="ticketInicial" required>
              </div>
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Ticket Final: </label> <label id="msgTicketF"></label>
                <input type="number" class="form-control" id="ticketFinal" name="ticketFinal" required>
              </div>
            </dic>

          </div>

          <div class="row">
            <dic class="col-lg-4">
        
                <label for="Titulo">Empleado:</label>
                <select class="form-control" name="empleado" id="empleado" required>
                    <option value="" selected>Seleccionar</option>
                    <% for (var i = 0; i < empleados.length; i++) { %>
                    <option><%= empleados[i].emp_id %></option>
                    <% } %>
                </select>
          
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Telefono: </label> <label id="msgTicketF"></label>
                <input type="number" class="form-control" id="telefono" name="telefono" required>
              </div>
            </dic>

          </div>

          <div class="row">

            <dic class="col-lg-8">
              <div class="form-group">
                <label for="titulo">Nombre: </label> 
                <input type="text" class="form-control" id="nombre" name="nombre" readonly>
              </div>
            </dic>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="btnguardar">Guardar</button>
          </div>
        </form>

        <br>
        <div style="text-align: center">

        </div>
      </div>

      

      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <div>
            <div class="card">
              <div class="card-header bg-secondary text-white text-center"><strong id="date"></strong></div>
              <div class="card-body">
                <img src="/img/inventario2.png" alt="Warehouse Image" class="img-fluid" style="height: 250px">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <br>

    <div class="card shadow mb-4 shadow-lg">
      <div class="card-header py-3 bg-secondary text-white">
        <strong>Talones</strong>
      </div>
      <div class="accordion" id="accordionExample">
        <table class="table table-hover table-sm" id="classTable">
          <thead>
            <th> <span class="text-primary"></span> Eliminar</th>
            <th> <span class="text-primary"></span> Entregado</th>
            <th> <span class="text-primary"></span> Ticket Inicial</th>
            <th><span class="text-primary"></span> Ticket Final</th>
            <th><span class="text-primary"></span> Nombre</th>
            <th><span class="text-primary"></span> Telefono</th>
            <th><span class="text-primary"></span> Status</th>
          </thead>
          <tbody>
            <% for(let i = 0;i < talones.length;i++){ %>

              <%
                            if(talones[i].status=="PENDIENTE"){
                               classBtn = "warning"
                            }else{
                                classBtn="success"
                            }                  
                %>

            <tr>
              <td class="text-center " width='5%'>
                <form method="POST">
                  <button name="equipoid" type="submit" formaction="/delete_talon" class="btn btn-danger text-center"
                    data-toggle="tooltip" data-placement="left" onclick="clicked(event)"><span
                      class="icoWhite fas fa-trash-alt"></span></button>
                  <input type="text" name="idTicket" value="<%= talones[i].id%>" hidden>
                  <input type="text" name="idGafete" value="<%= gafete%>" hidden>
                </form>

              </td>
              <td class="text-center " width='5%'>
                <form method="POST">
                  <button name="equipoid" type="submit" formaction="/status_talon" class="btn btn-<%=classBtn%> text-center"
                    data-toggle="tooltip" data-placement="left" onclick="clicked(event)"><span
                      class="icoWhite fas fa-check"></span></button>
                  <input type="text" name="idTicket" value="<%= talones[i].id%>" hidden>
                  <input type="text" name="idGafete" value="<%= gafete%>" hidden>
                  <input type="text" name="statusTalon" value="<%= talones[i].status%>" hidden>
                </form>

              </td>
              <td width='10%'><%= talones[i].ticket_inicial%></td>
              <td width='10%'><%= talones[i].ticket_final%></td>
              <td width='10%'><%= talones[i].nombre_empleado%></td>
              <td width='10%'><%= talones[i].telefono%></td>
              <td width='10%'><%= talones[i].status%></td>

              <%  } %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<% include ./static/footer.ejs%>

<script>

function clicked(e) {
    if (!confirm('Seguro que deseas actualizar?')) e.preventDefault();
  }

  
  if (window.history.replaceState) {
          window.history.replaceState(null, null, '/');
  
      }

empleados = <%- JSON.stringify(empleados) %>;
talones = <%- JSON.stringify(talones) %>;
$('#empleado').on('change', function (e) {
  id = $('#empleado').val();


  for (let i = 0; i < empleados.length; i++) {
    if(id == empleados[i].emp_id){

      $('#nombre').val(empleados[i].emp_nombre);
      
    }
    
  }

  for (let i = 0; i < talones.length; i++) {
    if(id == talones[i].num_empleado){

      $('#telefono').val(talones[i].telefono);
      
    }
    
  }
    
});


ticketInicial.addEventListener("keyup", function (e) {

  id = $('#ticketInicial').val();
  var msg = document.getElementById("msgTicketI");
  found = false
  for (let i = 0; i < talones.length; i++) {
    if(id == talones[i].ticket_inicial || id == talones[i].ticket_final){

      msg.innerHTML = ' Duplicado';
      msg.classList.remove('text-success');
      msg.classList.add('text-danger');
      found = true
      $('#btnguardar').prop("disabled", true);
      break;
      
    }
    if (found == false) {
        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = '';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');

      
    } else {
      $('#btnguardar').prop("disabled", true);
    }
  
  }

});

ticketFinal.addEventListener("keyup", function (e) {

  id = $('#ticketFinal').val();
  var msg = document.getElementById("msgTicketF");
  found = false
  for (let i = 0; i < talones.length; i++) {
    if(id == talones[i].ticket_inicial || id == talones[i].ticket_final){

      msg.innerHTML = ' Duplicado';
      msg.classList.remove('text-success');
      msg.classList.add('text-danger');
      found = true
      $('#btnguardar').prop("disabled", true);
      break;
      
    }
    if (found == false) {
        $('#btnguardar').prop("disabled", false);
        msg.innerHTML = '';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');

      
    } else {
      $('#btnguardar').prop("disabled", true);
    }
  
  }

});


var currentDate = new Date(),
      day = currentDate.getDate(),
      month = currentDate.getMonth() + 1,
      year = currentDate.getFullYear(),
      date = day + "/" + month + "/" + year;


    document.getElementById("date").innerHTML = date;

</script>