<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row ">




      <!-- form start -->

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <label><h4>TALONES <span> <h5><%= nombre%><h5></span></h4></label>
          </div>


        </div>
        <form action="/guardar_cancelado" method="POST" autocomplete="off" id="form">
          <div class="row text-center">

            <div class="col-lg-2">
              <div class="form-group">
                <input readonly type="text" class="form-control" id="gafete" name="gafete" value="<%= gafete%>"
                  name="gafete" hidden>
              </div>
            </div>
          </div>
          <div class="row">
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Ticket Inicial: </label> <label id="msgTicketI"></label>
                <input type="number" class="form-control" id="ticketInicial" name="ticketInicial" required>
              </div>
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Ticket Final: </label> <label id="msgTicketF"></label>
                <input type="number" class="form-control" id="ticketFinal" name="ticketFinal" required>
              </div>
            </dic>

          </div>

          <div class="row">
            <dic class="col-lg-4">
        
                <label for="Titulo">Empleado:</label>
                <select class="form-control" name="empleado" id="empleado" required>
                    <option value="" selected>Seleccionar</option>
                    <% for (var i = 0; i < empleados.length; i++) { %>
                    <option><%= empleados[i].emp_id %></option>
                    <% } %>
                </select>
          
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Telefono: </label> <label id="msgTicketF"></label>
                <input type="number" class="form-control" id="telefono" name="telefono" required>
              </div>
            </dic>

          </div>

          <div class="row">

            <dic class="col-lg-8">
              <div class="form-group">
                <label for="titulo">Nombre: </label> 
                <input type="number" class="form-control" id="nombre" name="nombre" readonly>
              </div>
            </dic>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="btnguardar" hidden>Guardar</button>
          </div>
        </form>

        <br>
        <div style="text-align: center">

        </div>
      </div>

      <div class="col-lg-4">
        <div class="col-lg-12">
          <div>
            <div class="card">
              <div class="card-header bg-secondary text-white text-center"><strong id="date"></strong></div>
              <div class="card-body">
                <img src="/img/inventario.png" alt="Warehouse Image" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <br>

    <div class="card shadow mb-4 shadow-lg">
      <div class="card-header py-3 bg-secondary text-white">
        <strong>Talones</strong>
      </div>
      <div class="accordion" id="accordionExample">
        <table class="table table-hover table-sm" id="myTable">
          <thead>
            <th> <span class="text-primary"></span> Eliminar</th>
            <th> <span class="text-primary"></span> Ticket Inicial</th>
            <th><span class="text-primary"></span> Ticket Final</th>
            <th><span class="text-primary"></span> Nombre</th>
            <th><span class="text-primary"></span> Telefono</th>
          </thead>
          <tbody>
            <% for(let i = 0;i < talones.length;i++){ %>

            <tr>
              <td class="text-center " width='5%'>
                <form method="POST">
                  <button name="equipoid" type="submit" formaction="/delete_ticket" class="btn btn-danger text-center"
                    data-toggle="tooltip" data-placement="left" onclick="clicked(event)"><span
                      class="icoWhite fas fa-trash-alt"></span></button>
                  <input type="text" name="idTicket" value="<%= talones[i].id%>" hidden>
                  <input type="text" name="idGafete" value="<%= gafete%>" hidden>

                </form>

              </td>
              <td width='10%'><%= talones[i].ticket_inicial%></td>
              <td width='10%'><%= talones[i].ticket_final%></td>
              <td width='10%'><%= talones[i].nombre_empleado%></td>
              <td width='10%'><%= talones[i].telefono%></td>

              <%  } %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<% include ./static/footer.ejs%>

<script>
empleados = <%- JSON.stringify(empleados) %>;
$('#empleado').on('change', function (e) {
  id = $('#empleado').val();

  for (let i = 0; i < empleado.length; i++) {
    if(id == empleado[i].emp_id){
      
    }
    
  }
    
});

</script>